.apod {
  width: 70%;
  text-align: center;
  h2.space-fact {
    font-size: 2.3em;
    color: rgba(0,0,0,.85);
    margin: 15px auto;
    &:hover {
      letter-spacing: 1.3px;
    }
  }
  h3.nasa-title {
    font-size: .9em;
  }
  img.apod {
    // width: 70%;
    margin: 20px 0;
  }
  p {
    width: 80%;
    font-family: 'Poppins', sans-serif;
    font-size: .92em;
    text-align: left;
    margin: 15px auto;
    line-height: 2em;
  }
  p.footer {
    text-align: right;
  }
}
