body {
  font-family: 'Raleway', Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background:
    linear-gradient(
      rgba(187, 218, 227, 0),
      rgba(187, 218, 227, .3)
    ),
    url('http://eskipaper.com/images/nebula-wallpaper-hd-21.jpg') center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  line-height: 1.5em;
  color: #000;
  .container {
    margin: 0;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    padding-bottom: 5px;
    transition: all 1s linear;
    &:hover {
      border-bottom: 1px solid #252b2d;
      color: $bright-blue2;
    }
  }
  em {
    font-size: .8em;
  }
  button,
  input[type="submit"] {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
  }
  p.alert,
  p.notice {
    font-size: .85em;
    text-align: center;
  }
  p.alert {
    color: $red;
  }
  p.notice {
    color: $green;
  }
  .links ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    font-size: .8em;
    li {
      margin: 0 10px;
    }
    span.username {
      color: $bright-blue2;
      letter-spacing: 1.1px;
      margin-left: 3px;
    }
  }
}
#navbar {
  display: flex;
  justify-content: space-between;
}
.content {
  width: 75%;
  margin: 0 auto;
}
.user-show {
  margin: 15% auto;
}

h2.space-fact {
  font-family: 'Montserrat', sans-serif;
  color: #d0f3ed;
  width: 75%;
  margin: 18% auto;
  font-size: 1.8rem;
  font-weight: normal;
  text-align: center;
  line-height: 1.6em;
  text-transform: lowercase;
  font-variant: small-caps;
  transition: all 1s linear;
  opacity: .65;
  &:hover {
    opacity: .85;
  }
}
.navbar {
  display: flex;
  justify-content: flex-end;
  font-size: .85em;
  margin: 0 15px 35px;
  li {
    padding: 0 10px;
  }
}
.active {
  color: $bright-blue2;
}
