form,
#new_user,
#edit_user {
  width: 75%;
  margin: 0 auto;
  color: #000;
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  #error_explanation {
    font-size: .8em;
    margin-bottom: 20px;
    li {
      color: $red;
    }
  }
  .material-icons {
    font-size: 1.2em;
    opacity: .65;
  }
  .field {
    width: 90%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    i,
    em {
      align-self: flex-start;
    }
    em { font-size: .8em; }
    label {
      font-size: 1.15em;
      text-transform: lowercase;
      font-variant: small-caps;
      align-self: flex-start;
    }
    textarea {
      width: 100%;
      max-width: 100%;
      font-size: .9em;
      background: none;
      border: 1px solid #000;
      padding: 5px;
      height: 130px;
    }
    select {
      width: 100%;
      align-self: flex-start;
      border: 1px solid #000;
      border-bottom: 1px solid #000;
      background-color: transparent;
      font-size: 1em;
    }
  }
  .photo {
    align-items: flex-start;
    label {
      margin-bottom: 10px;
    }
  }
  .input {
    width: 100%;
    display: flex;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
    background: none;
    font-size: 1em;
    padding: 3px;
  }
  input[type="submit"] {
    background-color: rgba(255, 255, 255, .5);
    border: none;
    min-width: 90%;
    font-size: .8em;
    transition: all 1s linear;
    &:hover {
      background-color: rgba(201, 213, 236, .5);
      letter-spacing: 1.15px;

    }
  }
  .checkbox {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
  input[type="checkbox"] {
    margin-left: 10px;
  }
  .actions,
  .submit {
    width: 30%;
    margin: 0 auto;
    margin-top: 30px;
  }
}
.current-loc {
  padding-bottom: 2em;
  border-bottom: 1px solid rgba(0,0,0,.4);
  .submit {
    margin: 20px auto 0;
    input[type="submit"] {
      padding: 7px;
      margin-left: -15px;
    }
  }
}
.cancel {
  width: 75%;
  margin: 50px auto;
  text-align: center;
  input[type="submit"] {
    font-size: 1em;
  }
}
.link-bottom {
  margin: 20px;
  text-align: center;
  a { font-size: .9em; }
}
// #flash {
//   text-align: center;
//   padding: 0;
// }
.flash {
  text-align: center;
  padding: 15px 0 0 15px;
  font-size: .85em;
  color: #c0efe7;
}
