form,
#new_user,
#edit_user {
  width: 75%;
  margin: 0 auto;
  color: #000;
  h2 {
    text-align: center;
  }
  #error_explanation {
    font-size: .8em;
    margin-bottom: 20px;
    li {
      color: $red;
    }
  }
  i {
    font-size: .8em;
  }
  .material-icons {
    font-size: 1em;
    opacity: .65;
  }
  .field {
    width: 100%;
    margin: 10px auto;
    label {
      text-transform: lowercase;
      font-variant: small-caps;
    }
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    border: none;
    border-bottom: 1px solid #000;
    width: 80%;
    background: none;
  }
  .submit {
    width: 30%;
    margin: 0 auto;
  }
}
