.location,
.reviews {
  width: 75%;
  margin: 10% auto 25px;
  text-align: center;
  i {
    font-size: 5em;
    opacity: .5;
  }
  p {
    line-height: 1.8em;
  }
  form {
    padding-bottom: 20px;
    text-align: left;
  }
}
.hidden {
  display: none;
}

.reviews {
  #new,
  .show {
    padding-top: 25px;
  }
  .review {
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    text-align: left;
    h4 {
      font-size: 1.3em;
      font-weight: bold;
    }
    p {
      font-family: 'Poppins';
    }
  }
  h2 {
    font-size: 2em;
  }
  .review-list {
    margin-top: 35px;
  }
  .review-links {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 30px;
    a {
      font-weight: bold;
      margin: 0 15px;
      font-size: .9em;
    }
  }
}
.icon-menu {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 30px;
  a {
    font-weight: bold;
    margin: 0 15px;
    font-size: .9em;
  }
}
.icon-link {
  display: flex;
  flex-direction: column;
  i {
    font-size: 1.7em;
    margin-bottom: 5px;
  }
}
.top {
  width: 30%;
  margin: 0 auto;
  padding: 20px 0;
}

.moon-data {
  margin: 30px auto;
  text-align: center;
}

.location {
  .icon-menu {
    padding-bottom: 30px;
  }
}
.data-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  min-height: 90vh;
  text-align: center;
  .data {
    width: 25%;
    min-height: 280px;
    font-size: .9em;
    font-family: 'Poppins';
    margin: 10px;
    padding: 10px;
    background-color: rgba(186, 218, 248, .15);
    border-radius: 15px;
    p.moonphase {
      text-align: center;
    }
    p {
      text-align: left;
    }
  }
}
.new-loc {
  min-height: 80vh;
}
.bright {
  color: $bright-blue;
  opacity: 1;
}
.current-loc {
  text-align: center;
  min-height: 90vh;
}
