.location,
.reviews {
  width: 75%;
  margin: 10% auto 25px;
  text-align: center;
  i {
    font-size: 4.5em;
    opacity: .5;
  }
  p {
    line-height: 1.8em;
  }
  form {
    padding-bottom: 20px;
    text-align: left;
  }
}
