.moon-stats {
  text-align: center;
  h3 {
    font-size: 2em;
  }
  i {
    font-size: 5em;
    color: #C2D6EF;
    opacity: .7;
  }
  p {
    font-size: 1.2em;
  }
  p.phase {
    font-size: 1.55em;
    text-transform: lowercase;
    font-variant: small-caps;
    color: #C2D6EF;
  }
}
