h2.space-fact {
  font-family: 'Montserrat', sans-serif;
  color: #d0f3ed;
  width: 75%;
  margin: 18% auto;
  font-size: 1.8rem;
  font-weight: normal;
  text-align: center;
  line-height: 1.6em;
  text-transform: lowercase;
  font-variant: small-caps;
  animation: glow 2s infinite alternate;
  transition: all 1s linear;
  opacity: .6;
  &:hover {
    opacity: .85;
  }
}
@keyframes glow {
  to {
    opacity: 1;
  }
}

.moon-stats {
  color: #000;
  text-align: center;
  h3 {
    width: 70%;
    margin: 0 auto;
    font-size: 2em;
    opacity: .7;
    padding: 30px 0;
    line-height: 1.4em;
    border-bottom: 1px solid #000;
  }
  i {
    font-size: 5em;
    color: $bright-blue;
    opacity: .5;
    animation: glow 2s infinite alternate;
  }
  p {
    font-size: 1.2em;
    text-transform: lowercase;
    font-variant: small-caps;
  }
  p.phase {
    font-size: 1.5em;
    color: $bright-blue;
    letter-spacing: 1.1px;
  }
}
span.blue {
  color: $bright-blue;
  opacity: .65;
  animation: glow 2s infinite alternate;
}
